## ƒåistenie datasetu

In [1]:
#inportovanie kniznic
import pandas as pd
import numpy as np
from langdetect import detect
from langdetect import LangDetectException
import jsonlines
import json

Naƒç√≠tanie datasetu - dataset je rozdeleny do dvoch suborov labels a feed a spoj√≠me to spolu

In [2]:
labels_dict = {}
# Najprv nacitame labels
with open('../datasety/labels.ndjson', 'r', encoding='utf-8') as labels_file:
    for label_line in labels_file:
        label = json.loads(label_line)
        labels_dict[label['id']] = label

# Teraz prech√°dzame cez v≈°etky feeds a prirad√≠me im pr√≠slu≈°n√© label
combined_data = []
with open('../datasety/feeds.ndjson', 'r', encoding='utf-8') as feeds_file:
    for feed_line in feeds_file:
        feed = json.loads(feed_line)
        feed_id = feed['id']
        
        if feed_id in labels_dict:
            for key, value in labels_dict[feed_id].items():
                if key != 'id':
                    feed[key] = value
        else:
            pass
        combined_data.append(feed)

In [3]:
combined_data = pd.DataFrame(combined_data)
combined_data.head()

,text,id,occupation,gender,fame,birthyear
0,[Back at it with @americanidol looking for...h...,22704,performer,female,superstar,1984
1,[The last presidential election turned on fewe...,46305,politics,male,superstar,1961
2,[Angels üòá \n@RobbieWilliams\nhttps://t.co/A6rx...,30260,performer,female,superstar,1989
3,"[Listen to ‚ÄúShallow‚Äù, ‚ÄúAlways Remember Us This...",4874,creator,female,superstar,1986
4,"[So happy for my island! Vote for Madeira, for...",41392,manager,male,superstar,1985

In [4]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33836 entries, 0 to 33835
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        33836 non-null  object
 1   id          33836 non-null  int64
 2   occupation  33836 non-null  object
 3   gender      33836 non-null  object
 4   fame        33836 non-null  object
 5   birthyear   33836 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.5+ MB

Ked≈æe to st√°le bol veƒæmi veƒæk√Ω dataset a tak kv√¥li pam√§≈•ov√©mu a ƒçasov√©mu hƒæadisku som si zobrala iba 30% z datasetu

In [5]:
combined_data = combined_data.sample(frac=0.3, random_state=42)

In [6]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10151 entries, 15283 to 12806
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        10151 non-null  object
 1   id          10151 non-null  int64
 2   occupation  10151 non-null  object
 3   gender      10151 non-null  object
 4   fame        10151 non-null  object
 5   birthyear   10151 non-null  int64
dtypes: int64(2), object(4)
memory usage: 555.1+ KB

Tento dataset sme si ulo≈æili (na tomto som urobila anal√Ωzu) aby sme vedeli porovna≈• anal√Ωzu pred oƒçisten√≠m a po oƒçisten√≠

In [7]:
combined_data.to_json("../datasety/pred_ocistenim_dataset.json", orient='records', lines=True)#ulozenie datasetu pred oƒçisten√≠m, a≈æ ho m√¥≈æem analyzova≈• a nasledne porovna≈• s oƒçisten√Ωm

Rozdelili sme si ƒæud√≠ do kategori√≠ podƒæa poƒçtu pr√≠spevkov:

In [8]:
combined_data['post_count'] = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else len(x.split(',')))

bins = [0, 21, 51, 101, 301, 501,701, 1001, 2001, 3001, float('inf')]
labels = ['0-20', '21-50', '51-100', '101-300', '301-500', '501-700','701-1000', '1001-2000', '2001-3000', '3001+']
combined_data['post_category'] = pd.cut(combined_data['post_count'], bins=bins, labels=labels, right=False)

post_count_distribution = combined_data['post_category'].value_counts().sort_index()

print("Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:")
print(post_count_distribution)

Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:
0-20          107
21-50          93
51-100        152
101-300       516
301-500       435
501-700       378
701-1000      509
1001-2000    1260
2001-3000    6701
3001+           0
Name: post_category, dtype: int64

Zistime celkovy pocet prispevkov

In [9]:
total_posts = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else 0).sum()

print(f"Celkov√Ω poƒçet pr√≠spevkov: {total_posts}")

Celkov√Ω poƒçet pr√≠spevkov: 22273611

Dali sme to aby ka≈æd√Ω ƒçlovek mal najviac 500 pr√≠spevkov (kv√¥li pam√§ti)

In [10]:
combined_data['text'] = combined_data['text'].apply(lambda x: x[:500] if len(x) > 500 else x)

Vymazali sme ludi, ktor√≠ maj√∫ menej ako 300 pr√≠spevkov (lep≈°ie sa bude analyzova≈• ƒæud√≠ s viacer√Ωmi pr√≠spevkami)

In [11]:
combined_data = combined_data[combined_data['post_count'] > 300]

Znova sme si zobrazili poƒçty ƒæud√≠ na poƒçty pr√≠spevkoch

In [12]:
combined_data['post_count'] = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else len(x.split(',')))

bins = [ 301, 401, float('inf')]
labels = ['301-400', '401-500']
combined_data['post_category'] = pd.cut(combined_data['post_count'], bins=bins, labels=labels, right=False)

post_count_distribution = combined_data['post_category'].value_counts().sort_index()

print("Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:")
print(post_count_distribution)

Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:
301-400     227
401-500    9056
Name: post_category, dtype: int64

Zistili sme si poƒçet prispevkov celkov√Ω

In [13]:
total_posts = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else 0).sum()

print(f"Celkov√Ω poƒçet pr√≠spevkov: {total_posts}")

Celkov√Ω poƒçet pr√≠spevkov: 4597403

Funkcie na ƒçistenie textu: na odstranenie retweetov (tie sa zaƒç√≠naj√∫ na RT), odstr√°nenie neanglick√Ωch tweetov (vyu≈æitie kni≈ænice detect) a vymazanie duplicitn√Ωch tweetov ƒçloveka

In [14]:
def remove_retweets(tweets):
    return [tweet for tweet in tweets if not tweet.startswith("RT")]

In [15]:
def remove_duplicates_tweets(tweets):
    seen_tweets = set()
    unique_tweets = []
    for tweet in tweets:
        if tweet not in seen_tweets:#ak e≈°te nie je tweet v seen_tweets, tak ju pridame do oboch poli
            unique_tweets.append(tweet)
            seen_tweets.add(tweet)
    return unique_tweets

In [16]:
def detect_languages(tweet_list):
    languages = []
    for text in tweet_list:
        try:
            # Detekuj jazyk pre ka≈æd√∫ polo≈æku v liste a pridaj ho do zoznamu languages
            lang = detect(text)
            languages.append(lang)
        except LangDetectException:  # Ak detekcia zlyh√° pre konkr√©tny text
            languages.append(None)
    return languages

In [17]:
def filter_english_tweets(tweet_list, lang_list):
    return [tweet for tweet, lang in zip(tweet_list, lang_list) if lang == 'en']#vracia iba tie tweety, ktore maju  priradeny anglicky jazyk

V≈ædy po aplikovan√≠ ka≈æd√©ho druhu ƒçistenia si pozrieme poƒçet celkov√Ωch pr√≠spevkov po ƒçisten√≠ a poƒçet pr√≠spevkov podƒæa kategori√≠. Toto n√°m sl√∫≈æi na to aby sme si mohli porovna≈• ako dan√© ƒçistenie malo vplyv na dataset, teda koƒæko pr√≠spevkov na twitteri sa vymazalo a z√°rove≈à z akej kategorie.

In [18]:
combined_data['text'] = combined_data['text'].apply(remove_retweets)

In [19]:
post_count_distribution = combined_data['post_category'].value_counts().sort_index()

print("Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:")
print(post_count_distribution)

Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:
301-400     227
401-500    9041
Name: post_category, dtype: int64

Nieƒço cez milion pr√≠spevkov sme vymazali

In [20]:
total_posts = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else 0).sum()

print(f"Celkov√Ω poƒçet pr√≠spevkov: {total_posts}")

Celkov√Ω poƒçet pr√≠spevkov: 3205101

Odstr√°nime neanglick√© tweety

In [22]:
combined_data['detected_languages'] = combined_data['text'].apply(detect_languages)

In [24]:
combined_data['text'] = combined_data.apply(lambda row: filter_english_tweets(row['text'], row['detected_languages']), axis=1)

In [25]:
post_count_distribution = combined_data['post_category'].value_counts().sort_index()

print("Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:")
print(post_count_distribution)

Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:
301-400     227
401-500    9041
Name: post_category, dtype: int64

Ako m√¥≈æeme vidie≈• odstr√°nilo sa dos≈• pr√≠spevkov

In [26]:
total_posts = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else 0).sum()

print(f"Celkov√Ω poƒçet pr√≠spevkov: {total_posts}")

Celkov√Ω poƒçet pr√≠spevkov: 2615856

Odstr√°nime duplicitn√© riadky

In [27]:
combined_data = combined_data.drop_duplicates(subset=['id', 'occupation', 'gender', 'fame', 'birthyear'])

In [28]:
post_count_distribution = combined_data['post_category'].value_counts().sort_index()

print("Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:")
print(post_count_distribution)

Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:
301-400     227
401-500    9041
Name: post_category, dtype: int64

M√¥≈æeme vidie≈•, ≈æe tie sa nenach√°dzali v datasete

In [29]:
total_posts = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else 0).sum()

print(f"Celkov√Ω poƒçet pr√≠spevkov: {total_posts}")

Celkov√Ω poƒçet pr√≠spevkov: 2615856

A n√°sledne aj duplicitn√© pr√≠spevky twitteru ka≈æd√©ho pou≈æ√≠vateƒæa

In [30]:
combined_data['text'] = combined_data['text'].apply(remove_duplicates_tweets)

In [31]:
post_count_distribution = combined_data['post_category'].value_counts().sort_index()

print("Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:")
print(post_count_distribution)

Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:
301-400     227
401-500    9041
Name: post_category, dtype: int64

In [32]:
total_posts = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else 0).sum()

print(f"Celkov√Ω poƒçet pr√≠spevkov: {total_posts}")

Celkov√Ω poƒçet pr√≠spevkov: 2608448

Nakoniec sme si po oƒçisteni znova vymazali zaznamy, ktore meju menej ako 300 tweetov, lebo ako m√¥≈æeme vidie≈•, tak celkov√Ω poƒçet pr√≠spevkov sa dos≈• zmen≈°il

In [33]:
combined_data['post_count'] = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else len(x.split(',')))

In [34]:
combined_data = combined_data[combined_data['post_count'] > 300]

In [35]:
post_count_distribution = combined_data['post_category'].value_counts().sort_index()

print("Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:")
print(post_count_distribution)

Rozdelenie poƒçtu pr√≠spevkov podƒæa kateg√≥ri√≠:
301-400      24
401-500    4512
Name: post_category, dtype: int64

In [36]:
total_posts = combined_data['text'].apply(lambda x: len(x) if isinstance(x, list) else 0).sum()

print(f"Celkov√Ω poƒçet pr√≠spevkov: {total_posts}")

Celkov√Ω poƒçet pr√≠spevkov: 1694502

Veƒækos≈• datasetu sa n√°m o dos≈• zmen≈°ila po ƒçisten√≠

Nakoniec p√¥jdeme vymazat pomocne stlpce

In [37]:
combined_data = combined_data.drop(['post_category', 'post_count', 'detected_languages'], axis=1)

In [38]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4536 entries, 23195 to 10034
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        4536 non-null   object
 1   id          4536 non-null   int64
 2   occupation  4536 non-null   object
 3   gender      4536 non-null   object
 4   fame        4536 non-null   object
 5   birthyear   4536 non-null   int64
dtypes: int64(2), object(4)
memory usage: 248.1+ KB

Ulo≈æili sme si oƒçisteny dataset

In [39]:
combined_data.to_json("ocisteny_dataset.json", orient='records', lines=True)